<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/images/touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/touch-icon-180x180.png">
    <link rel="apple-touch-icon" sizes="167x167" href="/images/touch-icon-167x167.png">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
