.btn.wide {
  width: 100%;
}
nav {
  transition: background-color 1s;
}
.hold-to-confirm {
  position: relative;
}
.hold-to-confirm {
  -webkit-user-select: none;
  user-select: none;
}
.hold-to-confirm .progress {
  position: absolute;
  margin-top: -6px;
  height: 6px;
}
.history {
  padding-top: 1rem;
}
.history .btn {
  padding: 0 1rem;
}
